*{
    box-sizing: border-box;
}
body, form button {
    background: rgb(0, 2, 9);
    background: linear-gradient(90deg,
    rgba(0,2,9,0.9328923469934708)
    0%,
    rgba(75, 25, 168, 0.9745012246645414)
    40%,
    rgba(22,226,249,1)
    100%);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: relative;
    overflow-x: hidden;
}
.main{
    width: 100%;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255,255,255,0.29);
    padding: 1.5rem;
    position: relative;
}
form{
    width: 100%;
    position: relative;
    padding: 0.9rem;
}
.box{
    min-height: 23rem;
    width: 100%;
    padding: 1rem;
    margin: 0.7rem;
    background-color: rgba(255, 255, 255, 0.44);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255,255,255,0.29);
    position: relative;
}
.box section{
    position: absolute; 
    border-radius: 8px;
    padding: 1.4rem;
    font-size: 1rem;
    line-height: 1.8rem;
}
.box section:nth-child(1){
    top: 1.6rem;
    left: 19rem;
    min-height: 10rem;
    width: 25rem;
    max-width: 25rem;
    z-index: 1;
    background-color: rgba(0, 255, 255, 0.14);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255,255,255,0.29);
    color: rgba(0, 0, 0, 0.8);
}
.box section:nth-child(2){
    top: 6rem;
    right: 16rem;
    min-height: 14.5rem;
    width: 15rem;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.9745012246645414);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255,255,255,0.29);
    color: aquamarine;
}
form button{
    padding: 0.7rem 6rem;
    border-radius: 1rem;
    border: none;
    outline-color: aqua;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 2ms;
}
form button:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-decoration-color: aqua;
}

footer{
    height: 3rem;
    color: floralwhite;
    font-weight: 600;
    font-size: 1rem;
    line-height: 3rem;
    margin-top: 0.7rem;
}
