/* Basic styles for menu/header */
.menu {
  font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.15); /* Frosted glass effect */
    backdrop-filter: blur(10px); /* Blurring effect */
    -webkit-backdrop-filter: blur(10px); /* Safari */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); /* Glass shadow */
    padding: 10px;
    z-index: 9999;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  /* Scrolled state */
  .menu.scrolled {
    backdrop-filter: blur(20px); /* Increased blur on scroll */
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    margin: 0 10px;
  }
  .menu div:nth-child(1){font-size: 3rem;}
  .menu a, .menu div:nth-child(1) {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .menu a, .menu div:nth-child(2) section:nth-child(1){
    line-height: 50px;
  }
  
  .menu a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Hover effect */
  }
  .menu div:nth-child(2){
    display: flex;
    justify-content: space-around;
  }
  .displayPics{
    height: 3rem;
    width: 3rem;
    border-radius: 20px;
  }
  .logos{
    height: 60px;
    width: 60px;
  }
footer{ 
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  color: #FFF;
  width: 100vw;
}
  footer div:nth-child(1){
    height: 200px;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.14);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer div:nth-child(1) h3{
  font-size: 1.7rem;
  font-weight: 600;
}
footer div:nth-child(2) {
  background-color: #000;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons{
  height: 18px;
  padding: 10px;
}
