<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="static/css/header.css">
    <link rel="stylesheet" href="/static/css/result.css">
    <style>
        body{color: antiquewhite;}
        p{font-size: 1.2rem;}
    </style>
</head>
<body>
    {% include 'header.html' %}

    <header>
        <h1>About Us</h1>
    </header>
    <main>
        <section>
            <h2>Our Mission</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ex nec augue ultrices, nec venenatis purus congue. Nam ac lorem sit amet justo elementum dignissim.</p>
        </section>
        <section>
            <h2>Our Team</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ex nec augue ultrices, nec venenatis purus congue. Nam ac lorem sit amet justo elementum dignissim.</p>
        </section>
        <section>
            <h2>Contact Us</h2>
            <p>If you have any questions or inquiries, feel free to contact us:</p>
            <ul>
                <li>Email: info@example.com</li>
                <li>Phone: +1234567890</li>
            </ul>
        </section>
    </main>

    {% include 'footer.html' %}
    
    <script src="static/js/script.js"></script>

</body>
</html>
