<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <main>
        <nav>
            <a href="#"><p>LoGo</p></a>
            <a href="/dashboard"><p class="active">{{ username }}'s Dashboard </p></a>
            <a href="/quiz"><p>Quizzz It</p></a>
            <a href="/profile"><p>My Profile</p></a>
            <a href="/logout"><p>Logout</p></a>
            <a href="{{ api_endpoint }}"><p>Attempt Quiz API</p></a>
            <a href="/delete_acct"><p>Delete My Account</p></a>
        </nav>

        <div>
            <h2>{{ username }}'s Dashboard</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Date / Time</th>
                        <th>Score</th>
                        <th>Total Questions</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- loop starts -->
                    {% for data in quiz_metadata %}
                    <tr>
                        <td>{{ data['quiz_date'] }}</td>
                        <td>{{ data['score'] }}</td>
                        <td>{{ data['total_questions'] }}</td>
                        <td><a href="/view_quiz/{{ data['id'] }}">View</a></td>
                    </tr>
                    {% endfor %}
                    <!-- loop ends -->
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
