<footer>
    <div>
        <section>
            <h3><img class="logos" src="/static/images/icon.png" alt=""></h3>
            <h3>Contact Us</h3>
        </section>
        <section>
            <span><a href="mailto:obenedicta4@gmail.com"><img class="icons" src="/static/images/mail.png" alt=""></a>Email: obenedicta4@gmail.com</span>
            <span><img class="icons" src="/static/images/smartphone-call.png" alt="">Phone: +234-123-456-7890</span>
            <span><img class="icons" src="/static/images/archway.png" alt="">Address: 123 Street, City, Country</span>
        </section>
    </div>
    <div>
        &copy; 2024 browndove
    </div>
</footer>
