<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticate</title>
</head>
<body>
    <h1>How is your day going?</h1>
    <div id="login">
        <h2>Login</h2>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <form action="/" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Login">
        </form>
        
    </div>

    <div>
        <p><a href="/signup">Sign-up if you don't have an account.</a></p>
    </div>
</body>
</html>
