<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="static/css/header.css">
    <title>Quiz It</title>
</head>
<body>
    {% include 'header.html' %}
    
    <h1>Quiz It</h1>
    <div class="main">
        <form action="/submit" method="post">
            {% set total_questions = questions|length %}
            <input type="hidden" name="total_questions" value="{{ total_questions }}">
            {% for question in questions %}
            <div class="box">
                <section>
                    <p>{{ question.question }}</p>
                </section>
                <section>
                    {% for option in question.options %}
                    <input type="radio" name="opt{{ forloop.counter }}" value="{{ option }}">
                    <label>{{ option }}</label><br>
                    {% endfor %}
                    <input type="hidden" name="correct{{ loop.index0 }}" value="{{ question.answer }}">
                </section>
                
            </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
        <a href="/logout">logout</a>
    </div>
    
    <footer>Copyright 2024 browndove</footer>
    
    <script src="static/js/script.js"></script>
</body>
</html>
