<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
    <title>Sign Up</title>
</head>
<body>
    <main>
        <h1>Welcome! to Quiz It</h1>
        <div id="login-box">

            <h2>Sign up</h2>
            {% if error %}
            <p class="message" style="color: red;">{{ error }}</p>
            {% if suggestions %}
            <span style="color: green;"> Suggestions: {{ suggestions }}</span><br>
            {% endif %}
            {% endif %}
            <form action="/signup" method="POST">
                <div class="input-group">
                    <label for="firstname">First Name:</label><br>
                    <input type="text" id="firstname" name="firstname" required><br>
                </div>
                <div class="input-group">
                    <label for="lastname">Last Name:</label><br>
                    <input type="text" id="lastname" name="lastname" required><br>
                </div>
                <div class="input-group">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" required><br>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" required><br>
                </div>
                <div class="input-group">
                    <label for="email">E-mail:</label><br>
                    <input type="email" id="email" name="email" required><br>
                </div>

                <button type="submit">Sign Up</button>
            </form>
        </div>

        <p class="signup-link"><a href="/">Login</a> if you have an existing account.</p>
    </main>
    <div class="bubbles1 bubble"></div>
    <div class="bubbles2 bubble"></div>
    <div class="bubbles3 bubble"></div>

</body>
</html>
