<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Welcome! to Quiz it</h1>
    <div id="signup"></div>
        <h2>Sign up</h2>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="/signup" method="POST">
            <label for="firstname">First Name:</label><br>
            <input type="text" id="firstname" name="firstname" required><br>
            <label for="lastname">Last Name:</label><br>
            <input type="text" id="lastname" name="lastname" required><br>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Sign Up">
        </form>
    </div>
    <div>
        <p><a href="/">Login you have an existing account.</a></p>
    </div>
</body>
</html>
