<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Welcome! to Quiz it</h1>
    <div id="signup"></div>
        <h2>Sign up</h2>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="/signup" method="post">
            <input type="text" name="firstname" placeholder="First name" required>
            <input type="text" name="lastname" placeholder="Last name" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign up</button>
        </form>
    </div>
    <div>
        <p><a href="/">Login you have an existing account.</a></p>
    </div>
</body>
</html>
