<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Authenticate</title>
</head>
<body>
    <main>
        <h1>How is your day going?</h1>
    
        <div id="login-box">
            <h2>Login</h2>
            {% if message %}
            <p class="message">{{ message }}</p>
            {% endif %}
            <form action="/" method="POST">
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>

        <p class="signup-link"><a href="/signup">Sign-up</a> if you don't have an account.</p>
        <p class="signup-link">Forgot account password - <a href="/forgot_password">Password Recovery</a></p>
    </main>
    <div class="bubbles1 bubble"></div>
    <div class="bubbles2 bubble"></div>
    <div class="bubbles3 bubble"></div>

</body>
</html>
